@model KidoroApp.Models.viewModels.StockViewModel;

@{
    ViewData["Title"] = "Etat-Stock";
}

<h1 class="mb-4">- ETU 2443 -</h1>

<h2 class="mb-4">État du Stock</h2>

<section id="usuel">
    <h3 class="mt3 mb-4">Forme Usuelles en stock</h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Forme</th>
                <th>Quantite</th>
                <th>Prix Vente</th>
                <th>Prix Revient</th>
                <th>Prix Revient Avg</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var usuel in Model.Usuels)
            {
                <tr>
                    <td>@usuel.id_usuel</td>  
                    <td>@usuel.qte_total</td>  
                    <td>@( String.Format( "{0:N2}", usuel.prix_vente_total ) )</td>
                    <td>@( String.Format( "{0:N2}", usuel.prix_revient_total ) )</td>
                    <td>@( String.Format( "{0:N2}", usuel.prix_revient_avg ) )</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th colspan="2">TOTAL</th>
                <th>@Model.Usuels.Sum(u => u.qte_total)</th>
                <th>@( String.Format( "{0:N2}", @Model.Usuels.Sum(u => u.prix_vente_total) ) )</th>
                <th>@( String.Format( "{0:N2}", @Model.Usuels.Sum(u => u.prix_revient_total) ) )</th>
            </tr>
        </tfoot>
    </table>
</section>

<hr class="my-5" />

<section id="bloc optim">
    <h3 class="mt3 mb-4">Blocs en stock (Optimiste)</h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>IdBloc</th>
                <th>IdUsuel</th>
                <th>Qte estime</th>
                <th>Prix Vente</th>
                <th>Prix Revient</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var stockBloc in Model.BlocsOptim)
            {
                <tr>
                    <td>@stockBloc.id_bloc</td>
                    <td>@stockBloc.id_usuel</td>
                    <td>@stockBloc.qte_produit</td>
                    <td>@( String.Format( "{0:N2}", stockBloc.pv_bloc ) )</td>
                    <td>@( String.Format( "{0:N2}", stockBloc.pr_bloc ) )</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<hr class="my-5" />

<section id="bloc min">
    <h3 class="mt3 mb-4">Blocs en stock (Volume Min)</h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>IdBloc</th>
                <th>IdUsuel</th>
                <th>Qte estime</th>
                <th>Prix Vente</th>
                <th>Prix Revient</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var stockBloc in Model.BlocsMin)
            {
                <tr>
                    <td>@stockBloc.id_bloc</td>
                    <td>@stockBloc.id_usuel</td>
                    <td>@stockBloc.qte_produit</td>
                    <td>@( String.Format( "{0:N2}", stockBloc.pv_bloc ) )</td>
                    <td>@( String.Format( "{0:N2}", stockBloc.pr_bloc ) )</td>
                </tr>
            }
        </tbody>
    </table>
</section>
