@model KidoroApp.Models.viewModels.StockViewModel;

@{
    ViewData["Title"] = "Etat-Stock";
}

<section id="usuel">
    <h3>Forme Usuelles en stock</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Forme</th>
                <th>Quantite</th>
                <th>Sum Prix Vente</th>
                <th>Sum Prix Revient</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var stockUsuel in Model.Usuels)
            {
                <tr>
                    <td>@stockUsuel.idForme</td>
                    <td>@stockUsuel.quantite</td>
                    <td>@stockUsuel.sumPrixVente</td>
                    <td>@stockUsuel.sumPrixRevient</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th>@Model.GetTotalQuantiteUsuels()</th>
                <th>@Model.GetTotalPrixVenteUsuels()</th>
                <th>@Model.GetTotalPrixVenteUsuels()</th>
            </tr>
        </tfoot>
    </table>
</section>

<section id="bloc">
    <h3>Blocs en stock</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>IdBloc</th>
                <th>Prix Revient</th>
                <th>Prix Vente (Optimiste)</th>
                <th>Prix Vente (Volume Min)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var stockBloc in Model.Blocs)
            {
                <tr>
                    <td>@stockBloc.idBloc</td>
                    <td>@stockBloc.prixRevient</td>
                    <td>@stockBloc.prixVenteOptimiste</td>
                    <td>@stockBloc.prixVenteVolMin</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>TOTAL</th>
                <th>@Model.GetTotalPrixRevientBloc()</th>
                <th>@Model.GetTotalPrixVenteOptimisteBloc()</th>
                <th>@Model.GetTotalPrixVenteVolMinBloc()</th>
            </tr>
        </tfoot>
    </table>
</section>
